
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .contact-form input[type=date], .contact-form select {
        width: 100%;
        border: none;
        font-size: 12px;
        height: 59px;
        padding: 10px 25px;
        margin-bottom: 8px;
        border-left: 4px solid #71cd29;
        background: #eff2f4;
    }
    .contact-form select {
        width: 40%;
        border: none;
        font-size: 12px;
        height: 59px;
        padding: 10px 25px;
        margin-bottom: 8px;
        border-left: 4px solid #71cd29;
        background: #eff2f4;
    }
    .datlich {
        width: 100%;
        text-align: center;
    }

        .datlich button {
            border: 1px solid blue;
            background-color: #fff;
            width: 100%;
            height: auto;
            color: blue;
            padding: 10px;
            margin: 5px;
        }

            .datlich button:hover {
                background-color: #ddd;
                font-weight: bold;
            }
</style>
<!-- Contact section -->
<section class="contact-section spad" style="background-color:#ddd">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <div class="contact-text">
                    <h1>Đặt Lịch</h1>
                    <div class="contact-info">
                        <div class="ci-image set-bg" > </div>
                        <div class="ci-content">
                            <p>6/2 Đường số 3, cư xá Lữ gia P.15, Q.11, TP HCM</p>
                            <p>0286.6505.188</p>
                            <p>www.mythienhospital.com</p>
                        </div>
                    </div>
                </div>
                <form class="contact-form"  method="post">
                    <input type="text" placeholder="Họ tên" name="hoten">
                    <input type="text" placeholder="Số điện thoại" name="sdt">
                    <input type="text" placeholder="Subject" name="tieude">
                    <textarea placeholder="Message" name="noidung"></textarea>


                    <label>Chọn Ngày Tháng</label>
                    <br />
                    <input type="date" id="birthday" name="ngay" style="width:300px">
                    <label for="cars">Chọn Giờ</label>

                    <select id="cars" name="gio">
                        <option value="8:00">8:00</option>
                        <option value="8:30">8:30</option>
                        <option value="9:00">9:00</option>
                        <option value="9:30">9:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                    </select>
                    <br>
                    <br>
                    <div>
                        <button class="site-btn">Submit</button>
                    </div>

                </form>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        </div>
   
</section>
<!-- Contact section end -->