
@{
    ViewBag.Title = "LenLich";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Contact section -->
@foreach (var item in this.ViewBag.Result)
{
    <p>@item.ngay.ToString()</p>
    <p>@item.gio</p>
}
<!-- Contact section end -->
