
@{
    ViewBag.Title = "LenLich";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Contact section -->
<section class="contact-section spad" style="background-color:#ddd">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <div class="contact-text">
                    <h3>Đặt Lịch</h3>
                    <div class="contact-info">
                        <div class="ci-image set-bg" data-setbg="assets/img/MTHLogo.png"></div>
                        <div class="ci-content">
                            <p>6/2 Đường số 3, cư xá Lữ gia P.15, Q.11, TP HCM</p>
                            <p>0286.6505.188</p>
                            <p>www.mythienhospital.com</p>
                        </div>
                    </div>
                </div>
                <form class="contact-form">
                    <input type="text" placeholder="Họ tên">
                    <input type="text" placeholder="Số điện thoại">
                    <input type="text" placeholder="Subject">
                    <textarea placeholder="Message"></textarea>

                    <div>
                        <button class="site-btn">Submit</button>
                    </div>
                   
                </form>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        </div>
   
</section>
<!-- Contact section end -->
