
@{
    ViewBag.Title = "Quản Lý Bài Viết";
    Layout = "~/Views/Shared/_layouadmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Quản Lý Bài Viết</h1>
        
        <a href="~/BaiViet/ThemBaiViet" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i>Thêm</a>
          
    </div>

    <!--
             <p class="mb-4">DataTables là một plugin của bên thứ ba được sử dụng để tạo bảng demo bên dưới. Để biết thêm
                thông
                tin về DataTables, vui lòng truy cập <a target="_blank" href="https://datatables.net">tài liệu chính thức
                  của
                  DataTables</a>.</p>
    -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tiêu Đề</th>
                            <th>Nội Dung Chính</th>
                            <th>Ảnh</th>
                            <th>Ngày Đăng</th>
                            <th>Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                        }
                        @foreach (var item in this.ViewBag.Result)
                        {

                            <tr role="row" class="odd">
                                <td class="sorting_1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            @i
                                        </font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"><a href="#">@item.TIEUDE</a></font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"><a href="#">@item.NOIDUNGCHINH</a></font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"><a href="#">
                                            <img src="~/img/blog/@item.ANH" style="width:80px;height:50px;"/></a>
                                        </font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"><a href="#">@item.NGAYDANG</a></font>
                                    </font>
                                </td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"><a href="~/BaiViet/XemBaiViet?mabv=@item.MABV">Xem</a><a href="~/BaiViet/XoaBaiViet?mabv=@item.MABV" onclick="return IsDelete()">Xóa</a><a href="#">Sửa</a></font>
                                    </font>
                                </td>
                            </tr>

                            i++;
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<script>

    function IsDelete() {
        return confirm("Bạn có muốn xóa không?");
    }

</script>