@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <!-- item -->
        <div class="hs-item set-bg text-white" data-setbg="img/slide-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7">
                        <h2>CẤY GHÉP IMPLANT</h2>
                        <p>
                            Bác sĩ nhiều năm kinh nghiệm
                        </p>
                        <p>
                            Chụp phim 3D khảo sát tại chỗ
                        </p>
                        <p>
                            Giá tốt nhất thị trường
                        </p>
                        <a href="#" class="site-btn">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- item -->
        <div class="hs-item set-bg text-white" data-setbg="img/slide-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7">
                        <h2>Răng sứ thẩm mỹ</h2>
                        <p>Vật liêu đa dạng, cao cấp</p>
                        <p>Độ bền lâu, mài răng tối thiểu</p>
                        <p>Thẩm mỹ, phù hợp nhiều đối tượng</p>
                        <a href="#" class="site-btn">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Banner section -->
<section class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 banner-text text-white">
                <h4>Đặt lịch hẹn để được tư vấn miễn phí</h4>
                <p>Đặt hẹn, để lại thông tin sẽ được đội ngũ bác sĩ của chúng tôi tư vấn miễn phí</p>
            </div>
            <div class="col-lg-5 text-lg-right">
                <a href="#" class="site-btn sb-light">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner section end -->
<!-- About section -->
