
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="~/img/page-info-bg/3.jpg">
    <div class="container">
        <h2>Tin Tức</h2>
    </div>
</section>
<!-- Page info section end -->
<!-- Blog section -->
<section class="services-section spad">
    <div class="container">
        <!-- Blog post -->
        <div class="blog-item">
            <div class="row">
                <div class="col-lg-6 blog-thumb">
                    <img src="~/img/blog/1.jpg" alt="">
                </div>
                <div class="col-lg-6 blog-content">
                    <div class="date">Sept 21, 2018</div>
                    <h3>How to get whiter teeth in 2 weeks</h3>
                    <div class="blog-metas">
                        <div class="blog-meta">By Admin</div>
                        <div class="blog-meta">Tags:<a href="">dentist</a>,<a href="">white,</a><a href="">theeth</a></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>
        <!-- Blog post -->
        <div class="blog-item">
            <div class="row">
                <div class="col-lg-6 blog-thumb">
                    <img src="~/img/blog/2.jpg" alt="">
                </div>
                <div class="col-lg-6 blog-content">
                    <div class="date">Sept 21, 2018</div>
                    <h3>10 Tips for beter teeth</h3>
                    <div class="blog-metas">
                        <div class="blog-meta">By Admin</div>
                        <div class="blog-meta">Tags:<a href="">dentist</a>,<a href="">white,</a><a href="">theeth</a></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>
        <!-- Blog post -->
        <div class="blog-item">
            <div class="row">
                <div class="col-lg-6 blog-thumb">
                    <img src="~/img/blog/3.jpg" alt="">
                </div>
                <div class="col-lg-6 blog-content">
                    <div class="date">Sept 21, 2018</div>
                    <h3>Take care of your smile</h3>
                    <div class="blog-metas">
                        <div class="blog-meta">By Admin</div>
                        <div class="blog-meta">Tags:<a href="">dentist</a>,<a href="">white,</a><a href="">theeth</a></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>
        <!-- Blog post -->
        <div class="blog-item">
            <div class="row">
                <div class="col-lg-6 blog-thumb">
                    <img src="~/img/blog/4.jpg" alt="">
                </div>
                <div class="col-lg-6 blog-content">
                    <div class="date">Sept 21, 2018</div>
                    <h3>How to get whiter teeth </h3>
                    <div class="blog-metas">
                        <div class="blog-meta">By Admin</div>
                        <div class="blog-meta">Tags:<a href="">dentist</a>,<a href="">white,</a><a href="">theeth</a></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper venenatis turpis eget suscipit. Orci varius natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>

       
    </div>
</section>
<!-- Blog section end -->

