
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="~/img/page-info-bg/3.jpg">
    <div class="container">
        <h2>Tin Tức</h2>
    </div>
</section>
<!-- Page info section end -->
<!-- Blog section -->
<section class="services-section spad" >
    <div class="container">
        <!-- Blog post -->
        @foreach (var item in this.ViewBag.Result)
        {
            <div class="blog-item">
                <div class="row">
                    <div class="col-lg-5 blog-thumb">
                        <img src="~/img/blog/@item.ANH" alt="">
                    </div>
                    <div class="col-lg-7 blog-content">
                        <div class="date">@item.NGAYDANG</div>
                        <h3>@item.TIEUDE</h3>
                        <div class="blog-metas">
                            <div class="blog-meta">By Admin</div>
                        </div>
                        <a href="~/BaiViet/XemBaiViet?mabv=@item.MABV" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Blog section end -->

